@model ForgingAhead.Models.Quest
<h2>
  Create Quest
</h2>

<form asp-action="Create">
  <div>
    <h4>Quest</h4>
    <hr/>
    <div>
      <label asp-for="Name"><input asp-for="Name" /></label>
    </div>
    <div>
      <label asp-for="Name"><input asp-for="IsActive" /></label>
    </div>
    <div>
      <input type="submit" value="Create" class="btn btn-default"/>
    </div>
  </div>
</form>